# Created by venv; see https://docs.python.org/3/library/venv.html
venv/
__pycache__/
*.pyc
.vscode/
*.dill
*.parquet
*.pdf
*.png
*.jpg
*.svg
*.mp4

examples_victor/resultados_csv/


cells10/